<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>The Walks</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The permission to access your camera. Don&apos;t worry, we&apos;re not trying to take control of your device. It&apos;s just about you taking a photo with your camera during the walk and uploading it to the app. We need your consent for that.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>In order for us to be able to geographically assign your photo on the world map of The Walks, we need your GPS coordinate. This will be saved in the photo file.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>In order for us to be able to geographically assign your photo on the world map of The Walks, we need your GPS coordinate. This will be saved in the photo file.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>In order for us to be able to geographically assign your photo on the world map of The Walks, we need your GPS coordinate. This will be saved in the photo file.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The permission to access your photo library. Don&apos;t worry, we&apos;re not trying to take control of your device. It&apos;s just about you selecting a photo during the walk and uploading it to the app. We need your consent for that.</string>
	<key>UIAppFonts</key>
	<array>
		<string>CrimsonText-Regular.ttf</string>
		<string>CrimsonText-Italic.ttf</string>
		<string>CrimsonText-Bold.ttf</string>
		<string>CrimsonText-SemiBoldItalic.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Bambino-Regular.otf</string>
		<string>Bambino-Bold.otf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.xib</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
